body {
  color: $gray;
}
a {
  background-color: transparent;
  text-decoration: none;
  &:active,
  &:focus {
    text-decoration: none;
  }
}
li {
  list-style-type: none;
}
.upper-tile {
  padding: 10rem 1.5em 0;
}
