<header class="application-nav">
  <a href="/" class="application-nav-logo">
    <%= image_tag("standard-pixelandfox.png", alt: "logo") %>
  </a>
  <a href="/" class="fas fa-bars dropdown-toggle" data-toggle="dropdown"></a>
  <a href="/" class="application-nav-hire-us">Hire us!</a>
</header>
