<header class="application-nav">
  <a href="/" class="application-nav-logo">
    <%= image_tag("standard-pixelandfox.png", alt: "logo", class: "logo-pixel-only") %>
  </a>
  <a href="/" class="fas fa-bars application-nav-mobile-icon"></a>
  <a href="/" class="application-nav-hire-us">Hire us!</a>
  <nav class="application-nav-dropdown">
    <ul>
      <li class="application-nav-li">
        <a href="/">Services</a>
      </li>
      <li class="application-nav-li">
        <a href="/">Case Studies</a>
      </li>
      <li class="application-nav-li">
        <a href="/">Playbook</a>
      </li>
      <li class="application-nav-li">
        <a href="/">Team</a>
      </li>
    </ul>
  </nav>
</header>

<main class="application-main-content">
  <section aria-labelledby="we-code-we-design-we-spread-the-word" class="wrapper">
    <div class="upper-tile">
      <p class="text-upper-tile">
        <span class="text-together">TOGETHER, WE CAN</span>develop a chatbot, kick-off your communications strategy, build a product that users will love, and more.
      </p>
    </div>
  </section>
</main>

